/* ========================================General Setting======================================= */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;  
} 

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;  
}

body p{
    color: #525c65;
}

:root {
    --green:#017a9b;
    --lightgrey: #525c65;
    --black: #2e3d49;
    --table-bg:#6d7780;
    --white:#fff;
    --lightblue:#f5fcfe;
}

ul{
    list-style: none;
    text-decoration: none;
}

a{
    text-decoration: none;
    color: var(--black);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-btn , .showcase a{
    padding: 5px 20px;
    display: inline-block;
    background: var(--green);
    color: var(--white);
    text-transform: uppercase;
    border-radius: 4px;
    border: .125rem solid transparent;
    box-shadow: 0 0 8px 0 rgba(17,22,26,.16), 0 4px 8px 0 rgba(17,22,26,.08), 0 8px 16px 0 rgba(17,22,26,.08);
}

